# Virtual Environment
venv/
.venv/
env/

# Python caching
__pycache__/
*.pyc
*.pyo
*.pyd

# Database (Optional: ignore if you don't want to commit local test data)
# qms.db

# Flask/Instance folder
instance/
.webassets-cache

# OS-specific files
.DS_Store
Thumbs.db

# Docker
.dockerignore